modules = ["nodejs-20", "web", "postgresql-16"]
run = "npm run start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run start"]

[[ports]]
localPort = 3000
externalPort = 80

[workflows]
runButton = "Full Stack"

[[workflows.workflow]]
name = "Full Stack"
author = 42259813
mode = "parallel"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server/index.js"
