body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to left, #FFFFFF, #E6F0FA) !important;
}

html, body, #root {
  background: linear-gradient(to left, #FFFFFF, #E6F0FA) !important;
  min-height: 100vh;
  min-height: 100dvh;
}